<footer
  class="flexRow whiteBlueBackground"
  style="justify-content: space-around; align-items: center"
>
  <div class="flexRow" style="align-self: flex-start; margin: 20px">
    <img
      src="../../../assets/images/logo.png"
      style="height: 85px; width: 236px; align-self: flex-start"
    />
  </div>
  <div class="flexColumn blue">
    <h2 class="logoName red">H.D.H</h2>
    <h3 class="footerLinks">Our Vision</h3>
    <h3 class="footerLinks">Our Mission</h3>
    <h3 class="footerLinks">Our Values</h3>
  </div>
  <div class="flexColumn blue">
    <h3 class="footerLinks">About Us</h3>
    <h3 class="footerLinks">Contact Us</h3>
    <h3 class="footerLinks">Terms of service</h3>
  </div>
  <div
    class="flexRow"
    style="
      justify-content: space-between;
      align-self: start;
      align-items: center;
    "
  >
    <img src="../../../assets/Icons/instagram.png" class="footerIcon" />
    <img src="../../../assets/Icons/twitter.png" class="footerIcon" />
    <img src="../../../assets/Icons/facebook.png" class="footerIcon" />
  </div>
</footer>
