<section class="flexRow gradian">
  <div class="flexColumn">
    <div class="flexRow">
      <div class="flexColumn">
        <h4 class="prodcutTitle">product under construction</h4>
        <h1 class="productLegend white">We're</h1>
        <h1 class="productLegend blue">Launching</h1>
        <h1 class="productLegend white">Soon</h1>
        <div class="flexRow timeContainer">
          <div class="flexColumn white">
            <p class="timeNumber">60</p>
            <p class="timeLetter">Days</p>
          </div>
          <div class="flexColumn white">
            <p class="timeNumber">10</p>
            <p class="timeLetter">Hours</p>
          </div>
          <div class="flexColumn white">
            <p class="timeNumber">44</p>
            <p class="timeLetter">Minutes</p>
          </div>
          <div class="flexColumn white">
            <p class="timeNumber">20</p>
            <p class="timeLetter">Seconds</p>
          </div>
        </div>
      </div>
      <div
        class="flexColumn"
        style="align-items: center; justify-content: center"
      >
        <img
          src="../../assets/images/launch.png"
          style="align-self: flex-end; max-width: 90%"
        />
      </div>
    </div>
    <div
      class="flexColumn"
      style="align-items: center; justify-content: center"
    >
      <p class="white iconLabel">Learn more</p>
      <img class="arrowIcon" src="../../assets/Icons/downArrow.png" />
    </div>
  </div>
</section>
