<section class="section whiteBlueBackground">
  <div class="pl-2">
    <h5 class="red h5">For Better Future</h5>
    <h1 class="h1 dark">Get the Best Medical Services</h1>
    <h4 class="grey h4">
      Enables you to stay comfortable and safe in your own home
    </h4>
    <div class="buttonWrapper">
      <app-home-button placeholder="Request Demo"></app-home-button>
      <app-home-button
        outlined="outlined"
        placeholder="Learn more"
      ></app-home-button>
    </div>
  </div>
  <div class="right">
    <img class="sectionImage" src="../../../assets/images/doc.png" />
  </div>
</section>
