<app-home-header></app-home-header>
<app-home-section
  headerBlue="Our"
  imageUrl="../../../assets/images/Cardiologist-pana.png"
  headerRed="Vision"
  text="To be the first choice for home care services that provides a convenient and reliable platform that is efficient accessible and tailored to our clients’ needs"
></app-home-section>
<app-home-section
  whiteBlueBackground="whiteBlueBackground"
  reversed="reversed"
  headerBlue="Our"
  imageUrl="../../../assets/images/Cardiologist-bro.png"
  headerRed="Mission"
  text="To earn the trust and exceed expectations of our clients by providing the highest quality home care services that enables them to stay comfortable and safe in their own homes"
></app-home-section>
<app-home-section
  headerBlue="Our"
  imageUrl="../../../assets/images/Cardiologist-amico.png"
  headerRed="Values"
  text="- Delivering quality, safe and reliable services - Innovation and continues development - Offering flexible and individualized services to meet our customer needs - Respect and care for our customers by promptly providing our services - Committed to our vision and mission"
></app-home-section>
<app-home-section
  whiteBlueBackground="whiteBlueBackground"
  reversed="reversed"
  headerBlue="Contact"
  imageUrl="../../../assets/images/Online_Doctor-rafiki.png"
  headerRed="Us"
  text="At HDH , we’re committed to making healthcare more accessible for everyone in Saudi Arabia. We know that accessing quality health care can be difficult, which is why we’ve created our innovative application that allows people to get healthcare from the comfort of their own homes."
></app-home-section>
<app-map-section></app-map-section>
